.item-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid white;

  &:last-child {
    border-bottom: none;
  }

  .item-text {
    &.bought {
      text-decoration: line-through;
    }
  }

  .remove-item {
    color: red;
  }
}